<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/estilo.css">
</head>
<body>
    <header class="cabeza">
    <div>
        <a href="index.html"><h1>omar rueda</h1></a>
    
    </div>
    <div class="menu">
        <a href="porta.html">PORTAFOLIO</a>
        <a href="acerca.html">ACERCA DE MI</a>
        <a href="conta.html">CONTACTO</a>
    </div>
    </header>
    
    <section class="sesion4">
        <div>
            <h2>BIOGRAFIA</h2>
            <P>mi nombre es omar andres rueda martinez, naci el 21 de diciembre de 1998 y estudio analisis y desarrollo de software en el sena</P>
        </div>
        
    </section>


</body>
</html>