<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/estilo.css">
</head>
<body>
    <header class="cabeza">
    <div>
        <a href="index.html"><h1>omar rueda</h1></a>
    
    </div>
    <div class="menu">
        <a href="porta.html">PORTAFOLIO</a>
        <a href="acerca.html">ACERCA DE MI</a>
        <a href="conta.html">CONTACTO</a>
    </div>
    </header>
    <section class="sesion3">
        <div>
            <h2>CONTACTANOS</h2>
            <form action="">
                <label for="fname">nombre:</label><br>
                <input type="text" id="fname" name="fname" value=""><br>
                <label for="lname">apellido:</label><br>
                <input type="text" id="lname" name="lname" value=""><br>
                <label for="correo">correo:</label><br>
                <input type="text" id="correo" name="correo" value=""><br><br>
                
                <input type="submit" value="Submit">
              </form> 

        </div>
    </section>
</body>
</html>