<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/estilo.css">
</head>
<body>
    <header class="cabeza">
    <div>
        <a href="index.html"><h1>omar rueda</h1></a>
    
    </div>
    <div class="menu">
        <a href="porta.html">PORTAFOLIO</a>
        <a href="acerca.html">ACERCA DE MI</a>
        <a href="conta.html">CONTACTO</a>
    </div>
    </header>
    <section class="sesion2">
        <div><img src="imgen/im1.jpg" alt="" width="300px" height="400px"></div>
        <div><img src="imgen/im2.jpg" alt="" width="300px" height="400px"></div>
        <div><img src="imgen/im3.jpg" alt="" width="300px" height="400px"></div>
    </section>
</body>
</html>